
<div class="m-5">
<form class="mt-2">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Search</label>
    <input type="text" class="form-control" id="search-input" name="q">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>